

/* Label CSS*/
.label{

  position: relative;

  font-size:20px;
  font-weight:bold;
}
.lab{
  position: relative;
}
.symbol{

  right:44%;
  top:24px;
}
 .price{

   right:24.5%;
 }
 .Yesterday{

   right:7%;
   bottom:23px;
 }
 .quant{

   right:-13.3%;
   bottom:45px;
 }
 .Change{

     right:-25%;
     top:-68px;
 }
/*  Stock CSS*/
.currentStock{
  display:float;
  background-color: white;

 border: 3px solid #222;
 border-radius:13px;
 padding: 25px;
 margin: 25px;
}

.content{
  display:inline-block;
}
.ticker{

  position:relative;
  right:36%;
  font-size:1em;
}
.currentPrice{

  position:relative;
  font-size:1em;
  right:23%;
}

.lastPrice{

  position:relative;
  font-size:1em;
  right:9%;
}

.quantity{

  position:relative;
  font-size:1em;
  right:-9%;
}
.ChangeInPrice{

  position:relative;
  right:-18%;
}

.sell{
  cursor:pointer;
  position:relative;
  height:30px;
  right:-30%;
}
.sell:hover{
box-shadow: 5px 5px #888888;
}
.buy{
   cursor:pointer;
  position:relative;
  height:30px;
  right:-35%;
}
.buy:hover{
  box-shadow:5px 5px #888888;
}
/* Responsive components  */
@media screen and (max-width:1000px){
  .ticker{
    right:32%;
  }
}

@media (min-width:700px) and (max-width:9000px){
    .content{
      font-size:2em;
    }
}
