

/* Label CSS*/
.label ,.currentStock{
  display:float;
  position:static;
  background-color: white;

 padding: 25px;
 margin: 25px;
 height:20px;
}

 
/*  Stock CSS*/
.currentStock{
  border: 3px solid #222;
  border-radius:13px;
}

.content{
  position:absolute;
  margin-top:-9px;
}

.ticker{
  left:5%;

  font-size:1em;
}
.currentPrice{
  font-size:1em;
  left:22%;

}

.lastPrice{


  font-size:1em;
  left:40%;

}

.quantity{


  font-size:1em;
   left:62.5%;
}
.ChangeInPrice{
  left:73%;
}

.sell{
  cursor:pointer;
  position:relative;
  height:30px;
  right:-38%;
}
.sell:hover{
box-shadow: 5px 5px #888888;
}
.buy{
   cursor:pointer;
  position:relative;
  height:30px;
  right:-45%;
}
.buy:hover{
  box-shadow:5px 5px #888888;
}
/* Responsive components  */
@media screen and (max-width:1000px){
  .ticker{
    right:32%;
  }
}

@media (min-width:700px) and (max-width:9000px){
    .content{
      font-size:2em;
    }
}
